body {
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#conteudo {
    width: 1440px;
    margin: auto;
    background-color: #F6F4F6;
    height: 1080px;
}

#top-bar {
    box-sizing: border-box;
    background-color: #7a1b75;
    padding: 14px 24px;
    height: 64px;
}

header {
    background: url("images/fundo-busca.png") transparent no-repeat;
    height: 261px;
    margin-bottom: 40px;
}

.barra-pesquisa {
    position: relative;
    box-sizing: border-box;
    padding: 0px;
    margin: auto;
    width: 1045px;
    border-radius: 8px;

}

.barra-pesquisa img {
    position: absolute;
    right: -5px;
    top: 85px;
    padding: 10px;
}

input {
    width: 100%;
    height: 55px;
    padding: 6px;
    margin-top: 83px;
    border: 2px white solid;
    border-radius: 8px;

    font-size: 20px;
    color: #757575;
    padding-left: 28px;
}

input:hover {
    color: black;
    border: 2px black solid;
}

main {
    width: 1120px;
    margin: auto;
}

#card-new {
    float: right;

    font-size: 18px;
    font-weight: bold;
    background-color: #E76316;
    color: white;
    margin-bottom: 0px;
    border-radius: 8px;
    width: 173px;
    height: 48px;
}



.card-top {
    display: block;
    height: 50px;
}

.card-top h1{
    font-weight: lighter;
    float: left;
    color: #5F1478;
    display: inline;
    margin-bottom: 0px;
    margin-left: 40px;
}

.cards {
    padding: 0px;
}

.card {
    box-sizing: border-box;
    width: 229px;
    height: 267px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    box-shadow: 2px 2px 5px #7575756e;
    margin-top: 40px;
    padding: 0px 0px;
    float: left;
    margin: 40px 0px 0px 50px;
    
}

.card img {
    margin: 30px 0px 25px 0px;
    padding: 12px;
    background-color: #E4E4E4;
    border: 1px solid #F6F4F6;
    border-radius: 50%;
}

.card-menu {
    box-sizing: border-box;
    border: 1px solid blue;
    padding: px;
    margin: 0px;
    height: 47px;
    background-color: #FFFFFF;
    box-shadow: inset 0px 3px 6px #0000000F;
}

.float {
    display: block;
    float: left;
    border: red solid 1px;
    width: 49%;
    height: 100%;
}

.float span {
    margin-bottom: 15px;
}

.card-menu img {
    background-color: transparent;
    padding: 5px;
    margin: 15px 0px 0px 15px;
    border: 1px blue solid;
}

.clear {
    clear: both;
}
